body {
    background: #AEAEAE;
}

.nav-ul {
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-list a.visit {
    color: red;
}


.nav-list {
    float: left;
}

.nav-list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list a:hover {
    background-color: #111;
}



/** toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.hidden_delete {
    visibility: hidden;
}

/* pour les tableaux */
table.datatable {
    border-collapse: collapse;
}
.datatable tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}
.datatable tr:hover {
    background-color: #ccc;
}
.datatable th {
    background-color: #fff;
}
.datatable th, #table td {
    padding: 3px 5px;
}
.datatable td:hover {
    cursor: pointer;
}

#user-name{
    color: whitesmoke;
}

.datatable td:hover {
    cursor: pointer;
}

.euros {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    display: inline-block;
}

.euros:hover {
    cursor: pointer;
}

.img-euros {
    width: 100%;
    height: 100%;
}